.registration {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  form {
    max-width: 400px;
    width: 100%;
    height: 670px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.15);
    padding: 0 47.89px;
  }
  &__title {
    color: #FFF;
    text-align: center;
    font-size: 38px;
    padding: 70px 0 35px;
  }
  &__input-wrapper {
    padding-bottom: 19px;
    input {
      outline: none;
      padding-left: 26px;
      width: 400px;
      width: 100%;
      height: 56px;
      font-size: 16px;
      background: #FFF;
      border: 2px solid transparent;
      border-radius: 20px;
      color: #000;
      font-weight: 700;
      &::placeholder {
        color: #D9D9D9;
      }
      &.invalid, &.mismatch {
        border: 2px solid #E64555;
      }
    }
  }
  &__error-message {
    display: block;
    margin-bottom: 15px;
    color: #E64555;
  }
  &__button {
    all: unset;
    cursor: pointer;
    display: block;
    max-width: 400px;
    width: 100%;
    height: 81px;
    border-radius: 20px;
    background: linear-gradient(90deg, #7F7FD5 0%, #86A8E7 48.96%, #91EAE4 100%);
    text-align: center;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    &:disabled {
      cursor: default;
      opacity: 0.7;
    }
  }
}

@media screen and (max-width: 576px) {
  .registration {
    padding: 0 10px;
  }
}
